@{

    Registration.Models.ApplicationDbContext DB = new Registration.Models.ApplicationDbContext();
    List<SelectListItem> dept = new List<SelectListItem>();
    List<Registration.Models.Department> lstdept = DB.Department.ToList();
    foreach (var item1 in lstdept)
    {
        dept.Add(new SelectListItem { Text = item1.Name.ToString(), Value = item1.Id.ToString() });
    }
}
@{
    ViewBag.Title = "DropDown";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>


<style>
    body {
        font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
        color: #fff;
        padding: 50px;
        width: 300px;
        margin: 0 auto;
        background-color: #374954;
    }

    .dropdown {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    a {
        color: #fff;
    }

    .dropdown dd,
    .dropdown dt {
        margin: 0px;
        padding: 0px;
    }

    .dropdown ul {
        margin: -1px 0 0 0;
    }

    .dropdown dd {
        position: relative;
    }

    .dropdown a,
    .dropdown a:visited {
        color: #fff;
        text-decoration: none;
        outline: none;
        font-size: 12px;
    }

    .dropdown dt a {
        background-color: #4F6877;
        display: block;
        padding: 8px 20px 5px 10px;
        min-height: 25px;
        line-height: 24px;
        overflow: hidden;
        border: 0;
        width: 272px;
    }

        .dropdown dt a span,
        .multiSel span {
            cursor: pointer;
            display: inline-block;
            padding: 0 3px 2px 0;
        }

    .dropdown dd ul {
        background-color: #4F6877;
        border: 0;
        color: #fff;
        display: none;
        left: 0px;
        padding: 2px 15px 2px 5px;
        position: absolute;
        top: 2px;
        width: 280px;
        list-style: none;
        height: 100px;
        overflow: auto;
    }

    .dropdown span.value {
        display: none;
    }

    .dropdown dd ul li a {
        padding: 5px;
        display: block;
    }

        .dropdown dd ul li a:hover {
            background-color: #fff;
        }

    button {
        background-color: #6BBE92;
        width: 302px;
        border: 0;
        padding: 10px 0;
        margin: 5px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
</style>




<dl class="dropdown">
    <dt>
        @Html.DropDownList("selectDept", dept,"Select Department", new { @class = "bnt btn-danger dropdown-toggle dropdown-toggle-split" })
    </dt>
    <dt>
        <a href="#">
            <span class="hida">Select Professor</span>
            <p class="multiSel"></p>
        </a>
    </dt>

    <dd>
        <div class="mutliSelect">
            <ul id="ulProf"></ul>
        </div>
    </dd>
    <button onclick="Save()">Submit</button>
</dl>

<script>
    $('#selectDept').change(function () {
        

            var values = $(this).val();
            FillDropDown(values);
        
    });
    var count = 0;
    function ValidateCount(clickedbox) {
        count++;
        
        if (count > 2) {
            alert('cannot select more than three ');
            $(clickedbox).attr('disabled', 'disabled');
            $(clickedbox).prop('checked', false);
        }
    }
    function FillDropDown(values) {
        $('#ulProf').empty();
        $.ajax
            ({
                type: 'POST',
                url: '@Url.Action("FillProfessor")',
                dataType: 'json',
                data: { id: values },
                success: function (data) {
                    $.each(data, function (key, value) {
                        $('#ulProf').append("<li>  <input type='checkbox' id="+value.Id+" onclick='ValidateCount(this)' value=" + value.Id + " />" + value.Name + "</li>");
                    });
                }
            });

    }
    function Save() {
        var ID_Dept = $('#selectDept').val();
        $('#ulProf  li').each(function (i) {
            var ProfID = $(this).children('input').val();
            if ($(this).children('input').is(':checked')) {
                $.ajax
               ({
                   type: 'POST',
                   url: '@Url.Action("Save")',
                   dataType: 'json',
                   data: {
                       ID_Dept: ID_Dept,
                       ProfID: ProfID
                   },
                   success: function (data) {
                       $.each(data, function (key, value) {

                       });
                   }
               });
            }

        });
        //call action in jquery
        window.location.href = "@Url.Action("success", "selectprof")";
      
     }
    $(".dropdown dt a").on('click', function () {
        $(".dropdown dd ul").slideToggle('fast');
    });

    $(".dropdown dd ul li a").on('click', function () {
        $(".dropdown dd ul").hide();
    });

    function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
    }

    $(document).bind('click', function (e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
    });

    $('.mutliSelect input[type="checkbox"]').on('click', function () {

        var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
            title = $(this).val() + ",";

        if ($(this).is(':checked')) {
            var html = '<span title="' + title + '">' + title + '</span>';
            $('.multiSel').append(html);
            $(".hida").hide();
        } else {
            $('span[title="' + title + '"]').remove();
            var ret = $(".hida");
            $('.dropdown dt a').append(ret);

        }
    });


</script>
